#apple-news-publish h3 {
	font-weight: bold;
    line-height: 1em;
    font-size: 1.1em;
    margin: 10px 0 5px;
    display: block;
}

#apple-news-publish h4 {
	margin-bottom: .5em;
	margin-top: .5em;
}

#apple-news-publish a {
	word-wrap: break-word;
}

#apple-news-publish .section {
	display: block;
}

#apple-news-publish-submit {
	margin-top: 10px;
}
